$skyBlue: #21b2e8;
$gray: #a4a4a4;
$lightGray: #ebeced;
$primaryColor: #e84f14;

//Pill Background Color
$pillBg: #5a667a;

// Page Body Background Color
$bodyBackground: #f9f9f9;
$cardBg: #f7f8f9;

//Text Colors
$extraLightText: #b5bcc1;
$lightText: #929292;
$darkText: #6b7983;
$normalText: #262626;
$white: #ffffff;
$black: #262626;

//Buttons Color
$buttonText: #6b7983;
$raisedHover: rgba(232, 79, 20, 0.07);
$transHover: rgba(0, 0, 0, 0.05);

//Secondary Color RGBA

//Border Color
$borderColor: rgba(107, 121, 131, 0.2);

//Gray Colors
$lightGray: #f2f2f2;

//Footer Bg Color
$footerBgColor: #25282d;

//Career Page
$jobCardBg: #f6f6f6;
$jobCardBorder: #d0d0d0;

//Popup CSS
$optionBorder: #d9dde0;

//dropdown menu hover
$dropdownMenuHvr: #e1e4e6;
