footer {
  height: 245px;
  background-color: $footerBgColor;
  padding: 10px 50px;
  margin-top: 70px;
  overflow: hidden;
  .footer-top {
    border-bottom: 1px solid $white;
    height: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu-section {
      width: 60%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .menu-item {
        color: $white;
        letter-spacing: 1.92px;
        font-weight: lighter;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        position: relative;
        img {
          height: 20px;
          width: 20px;
          object-fit: contain;
        }
        &:after {
          position: absolute;
          content: "";
          bottom: -5px;
          width: 0px;
          height: 1px;
          background-color: $white;
          left: 0;
          transition: all 0.3s ease;
        }
        &.active {
          font-weight: bold;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
    .app-download-btns {
      button {
        margin-left: 10px;
        img {
          height: 50px;
          width: auto;
          object-fit: contain;
        }
      }
    }
  }
  .footer-bottom {
    height: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .lorryz-logo-bottom {
      height: 28px;
      width: auto;
      img {
        height: 100%;
        width: auto;
        object-fit: contain;
      }
    }
  }
  &.no-margin {
    margin-top: 0px !important;
  }
}
@include respond-to("laptop") {
  footer {
    height: 17.93vw !important;
    padding: 0.73vw 3.66vw !important;
    margin-top: 5.12vw !important;
    .footer-top {
      .menu-section {
        .menu-item {
          img {
            height: 1.46vw !important;
            width: 1.46vw !important;
          }
          &:after {
            bottom: -0.366vw !important;
          }
        }
      }
      .app-download-btns {
        button {
          margin-left: 0.73vw !important;
          img {
            height: 3.66vw !important;
            width: auto;
            object-fit: contain;
          }
        }
      }
    }
    .footer-bottom {
      .lorryz-logo-bottom {
        height: 2.04vw !important;
      }
    }
  }
}
@include respond-to("tablet") {
  footer {
    height: auto;
    padding: 50px;
    margin-top: 0;
    .footer-top {
      flex-direction: column;
      height: auto;
      .menu-section {
        width: 100%;
        flex-wrap: wrap;
      }
      .app-download-btns {
        margin: 30px 0px;
        width: 100%;
        justify-content: flex-end;
        display: flex;
        button {
          margin-left: 10px;
        }
      }
    }
    .footer-bottom {
      height: auto;
      padding-top: 30px;
    }
  }
}
@include respond-to("mobile") {
  footer {
    height: auto;
    padding: 50px;
    .footer-top {
      flex-direction: column;
      height: auto;
      .menu-section {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        a {
          text-align: center;
          margin: 10px 0px;
          font-size: 14px !important;
        }
      }
      .app-download-btns {
        margin: 20px 0px;
        width: 100%;
        justify-content: flex-end;
        display: flex;
        flex-direction: column;
        button {
          margin: 10px 0px !important;
        }
      }
    }
    .footer-bottom {
      height: auto;
      padding-top: 30px;
      flex-direction: column;
      .lorryz-logo-bottom {
        height: auto;
        img {
          height: 35px;
          margin: 20px 0px;
        }
      }
    }
  }
}
