.sidebar-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    .details-panel{
        width: 550px;
        height: 100%;
        background-color: $white;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: all 0.3s ease;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 0;
        .sidebar-top{
            display: flex;
            flex-direction: column;
            height: 94%;
            .main-heading{
                font-size: 24px;
                font-weight: 700;
                height: 6%;
                .refresh-notifications{
                    font-size: 18px;
                    margin-left: 5px;
                }
            }
            .currency-converter-form{
                margin-top: 20px;
                flex: 1;
                .currency-convert-btn-wrap{
                    margin-top: 10px;
                    display: flex;
                    justify-content: flex-end;
                }
                .section-gap{
                    height: 30px;
                }
            }
            .new-shipment-form{
                margin-top: 20px;
                flex: 1;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                .form-stepper{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    .step{
                        display: flex;
                        align-items: center;
                        .count-circle{
                            height: 25px;
                            width: 25px;
                            border-radius: 50%;
                            border: 1px solid $primaryColor;
                            margin-right: 7px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: $primaryColor;
                            .check-icon{
                                display: none;
                            }
                        }
                        .label{
                            color: $lightText;
                        }
                        .step-line{
                            height: 2px;
                            background-color: $lightGray;
                            flex: 1;
                            margin: 0px 7px;
                            position: relative;
                            &::before{
                                position: absolute;
                                content: '';
                                left: 0;
                                height: 100%;
                                width: 0;
                                background-color: $primaryColor;
                                transition: all 0.5s ease;
                            }
                        }
                        &.active{
                            .count-circle{
                                background-color: $primaryColor;
                                color: $white;
                            }
                            .label{
                                color: $normalText;
                            }
                        }
                        &.completed{
                            .count-circle{
                                background-color: $primaryColor;
                                color: $white;
                                .step-no{
                                    display: none;
                                }
                                .check-icon{
                                    display: block;
                                }
                            }
                            .label{
                                color: $normalText;
                            }
                            .step-line{
                                &::before{
                                    width: 100%;
                                }
                            }
                        }
                        &.with-step-line{
                            flex-grow: 1;
                        }
                    }
                }
                .sub-heading{
                    margin-bottom: 20px;
                }
                .form-wrapper{
                    min-height: 0;
                    margin-bottom: 10px;
                    .shipment-review-item{
                        min-height: 45px;
                        border-bottom: 1px solid $borderColor;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 5px 0px;
                        .left-content{
                            color: $lightText;
                        }
                        .right-content{
                            max-width: 60%;
                            display: flex;
                            flex-wrap: wrap;
                            text-align: right;
                        }
                    }
                }
                .ship-vehicle-images-wrap{
                    display: inline-flex;
                    flex-wrap: wrap;
                    .vehicle-img{
                        height: 90px;
                        width: 110px;
                        border: 1px solid $borderColor;
                        border-radius: 5px;
                        margin-bottom: 15px;
                        margin-left: 18px;
                        position: relative;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            border-radius: 5px;
                        }
                        &:hover{
                            border-color: $primaryColor;
                        }
                        &:nth-child(1){
                            margin-left: 0;
                        }
                        &.selected{
                            border-color: $primaryColor;
                            &::after{
                                content: '\f058';
                                position: absolute;
                                right: -8px;
                                top: -13px;
                                font-family: 'Font Awesome 5 Pro';
                                font-weight: 900;
                                color: $primaryColor;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .notifications-wrapper{
                height: 94%;
                .notification-time{
                    margin-top: 15px;
                    margin-bottom: 5px;
                }
                .notification-item{
                    padding: 15px 0px;
                    border-bottom: 1px solid $borderColor;
                    position: relative;
                    cursor: pointer;
                    z-index: 1;
                    &.new-notification{
                        font-weight: bold;
                    }
                }
            }
        }
        .sidebar-bottom{
            display: flex;
            justify-content: space-between;
            height: 6%;
            .block-btn.raised{
                margin-left: 10px;
            }
        }
        .sidebar-padding{
            padding: 0px 25px;
        }
        &.openSmall{
            width: 350px;
        }

    }
    &.show{
        visibility: visible;
        opacity: 1;
        .details-panel{
            opacity: 1;
            visibility: visible;
            transform: translateX(0%);
        }
    }
    &.notifications-sidebar{
        .sidebar-bottom{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
@include respond-to('laptop'){
    .sidebar-wrapper{
        .details-panel{
            width: 40vw;
            padding: 1.46vw 0 !important;
            .sidebar-top{
                .main-heading{
                    font-size: 1.75vw !important;
                    .refresh-notifications{
                        font-size: 1.31vw !important;
                        margin-left: 0.366vw !important;
                    }
                }
                .currency-converter-form{
                    margin-top: 1.46vw !important;
                    .currency-convert-btn-wrap{
                        margin-top: 0.73vw !important;
                    }
                    .section-gap{
                        height: 2.196vw !important;
                    }
                }
                .new-shipment-form{
                    margin-top: 1.46vw !important;
                    .form-stepper{
                        margin-bottom: 1.46vw !important;
                        .step{
                            .count-circle{
                                height: 1.83vw !important;
                                width: 1.83vw !important;
                                margin-right: 0.51vw !important;
                            }
                            .step-line{
                                height: 0.14vw !important;
                                margin: 0 0.512vw !important;
                            }
                        }
                    }
                    .sub-heading{
                        margin-bottom: 1.43vw !important;
                    }
                    .form-wrapper{
                        margin-bottom: 0.73vw !important;
                        .shipment-review-item{
                            min-height: 3.29vw !important;
                            padding: 0.366vw 0 !important;
                        }
                    }
                    .ship-vehicle-images-wrap{
                        .vehicle-img{
                            height: 6.58vw !important;
                            width: 8.05vw !important;
                            border-radius: 0.366vw !important;
                            margin-bottom: 1.09vw !important;
                            margin-left: 1.31vw !important;
                            img{
                                border-radius: 0.366vw !important;
                            }
                            &:nth-child(1){
                                margin-left: 0 !important;
                            }
                            &:nth-child(4n+5){
                                margin-left: 0 !important;
                            }
                            &.selected{
                                &::after{
                                    right: -0.58vw !important;
                                    top: -0.95vw !important;
                                    font-size: 1.02vw !important;
                                }
                            }
                        }
                    }
                }
                .notifications-wrapper{
                    .notification-time{
                        margin-top: 1.09vw !important;
                        margin-bottom: 0.366vw !important;
                    }
                    .notification-item{
                        padding: 1.09vw 0 !important;
                    }
                }
            }
            .sidebar-padding{
                padding: 0 1.83vw !important;
            }
            #mobile-tablet-close-sidebar-btn{
                display: none !important;
            }
            &.openSmall{
                width: 25.62vw !important;
            }
        }
    }
}
@include respond-to('tablet'){
    .sidebar-wrapper{
        position: fixed;
        .details-panel{
            width: 100vw !important;
            position: relative;
            .ship-vehicle-images-wrap{
                justify-content: space-between;
                .vehicle-img{
                    height: 200px !important;
                    width: 49% !important;
                    margin-bottom: 16px !important;
                    margin-left: 0px !important;
                    img{
                        border-radius: 0.366vw !important;
                    }
                }
            }
            #mobile-tablet-close-sidebar-btn{
                position: absolute;
                top: 0;
                right: 0;
                padding: 22px 10px;
                background-color: $white;
                font-size: 20px;
            }
        }
    }
}
@include respond-to('mobile'){
    .sidebar-wrapper{
        position: fixed;
        .details-panel{
            width: 100vw;
            .new-shipment-form{
                .count-circle{
                    margin-right: 0px !important;
                }
                .label{
                    display: none;
                }
                .ship-vehicle-images-wrap{
                    justify-content: space-between;
                    .vehicle-img{
                        height: 200px !important;
                        width: 100% !important;
                        margin-bottom: 16px !important;
                        margin-left: 0px !important;
                        img{
                            border-radius: 0.366vw !important;
                        }
                    }
                }
            }
            .sidebar-padding{
                padding: 0px 7px !important;
            }
        }
    }
}