.tablet-mobile-sidebar-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
  visibility: hidden;
  transition: all 0.5s ease;
  background-color: $white;
  transform: translateX(-100%);
  .upper-section {
    .close-tablet-menu {
      padding: 15px 25px;
      font-size: 26px;
    }
    .menu-items-wrapper {
      padding: 0px 50px;
      .menu-item {
        padding: 25px 0;
        border-bottom: 1px solid $borderColor;
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 16px;
        color: $normalText;
        text-decoration: none;
      }
    }
  }
  .bottom-section {
    position: absolute;
    bottom: 20px;
    padding: 0px 50px;
    width: 100%;
    .user-details-tablet-menu {
      display: flex;
      border-bottom: 1px solid $borderColor;
      padding: 15px 0px;
      width: 100%;
      align-items: center;
      justify-content: center;
      .avatar {
        margin-right: 10px;
      }
    }
    .tablet-menu-logout-btn {
      padding: 15px 0px;
      display: flex;
      justify-content: center;
      color: $primaryColor;
      align-items: center;
      i {
        margin-right: 10px;
      }
    }
  }
  &.show {
    visibility: visible;
    transform: translateX(0);
  }
  &.marketing-page-menu {
    .upper-section {
      .close-tablet-menu {
        padding: 10px 15px;
        font-size: 20px;
      }
    }
    .menu-items-wrapper {
      padding: 0px 50px;
      .menu-item {
        padding: 15px 0;
        border-bottom: 1px solid $borderColor;
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 14px;
        color: $normalText;
        text-decoration: none;
        &.active {
          color: $primaryColor;
        }
      }
    }
    .bottom-section {
      padding-left: 0;
      .menu-item {
        border: 1px solid $black;
        margin-top: 10px;
        &.login-btn {
          background-color: $primaryColor;
          color: $white;
          border-color: $primaryColor;
        }
      }
    }
  }
}
@include respond-to("laptop") {
  .tablet-mobile-sidebar-menu {
    display: none;
  }
}
