/*** Mixins ****/
@import "./mixins.scss";
.about-page {
  .about-intro {
    background-image: url("../images/about_page/about-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 1;
    p {
      margin: 0;
    }
    &::after {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
      content: "";
      background-image: url("../images/mask-layer.png");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  .about-mission {
    padding: 0px 50px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .about-our-values {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 200px;
    position: relative;
    .value-items-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .value-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 10px;
        width: 260px;
        text-align: center;
        img {
          height: 200px;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
@include respond-to("laptop") {
  .about-page {
    .about-mission {
      padding: 0 3.66vw !important;
    }
    .about-our-values {
      padding: 4.39vw 14.64vw !important;
      .value-items-section {
        .value-item {
          margin: 1.46vw 0.73vw !important;
          width: 19.03vw !important;
          img {
            height: 14.64vw !important;
          }
        }
      }
    }
  }
}
@include respond-to("tablet") {
  .about-page {
    br {
      display: none;
    }
    .about-intro {
      padding: 120px 30px !important;
      p {
      }
    }
    .about-mission {
      padding: 80px 30px !important;
    }
    .mark-divider.row-inverse {
      flex-direction: column !important;
    }
  }
}
@include respond-to("mobile") {
  .about-page {
    .about-our-values {
      padding: 0px 10px !important;
      padding-top: 50px !important;
      .value-items-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .value-item {
          margin: 40px 10px !important;
          width: 100% !important;
          img {
            height: auto;
            width: 100%;
            object-fit: contain;
          }
          h3 {
            font-size: 16px;
          }
          p {
            font-size: 14px !important;
          }
        }
      }
    }
  }
}
