/**** Colors CSS ****/
@import "./components/colors";

/*** Mixins ****/
@import "./mixins.scss";

.blogs-page {
  .blogs-header {
    background-image: url("../images/mask.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    height: 400px;
    width: 100%;
    &::after {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
      content: "";
      background-image: url("../images/mask-layer.png");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  .blogs-list-wrapper {
    padding: 50px 70px;
    display: flex;
    .blogs-list {
      width: 70%;
      .blog {
        height: 235px;
        background-color: $jobCardBg;
        border: 1px solid $jobCardBorder;
        display: flex;
        text-decoration: none;
        color: $black;
        margin-bottom: 30px;
        .blog-image {
          height: 235px;
          width: 235px;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        .blog-body {
          padding: 20px;
          flex: 1;
          .blog-title {
            margin: 0;
            margin-bottom: 10px;
            height: 20%;
          }
          .blog-description {
            line-height: 1.42;
            height: 55%;
          }
          .blog-bottom {
            position: relative;
            bottom: 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid $jobCardBorder;
            height: 25%;
            .author-section {
              display: flex;
              align-items: center;
              .author-image {
                height: 35px;
                width: 35px;
                margin-right: 10px;
                img {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }
        &:hover {
          border-color: $primaryColor;
        }
      }
    }
    .popular-blogs-tags {
      width: 30%;
      .text.semiBold {
        display: block;
        margin-bottom: 10px;
        margin-left: 55px;
      }
      .tags-wrapper {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 50px;
        .blog-tag {
          height: 30px;
          border: 1px solid $jobCardBorder;
          padding: 0px 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 15px;
          margin: 5px;
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover {
            background-color: $primaryColor;
            color: $white;
            border-color: $primaryColor;
          }
        }
      }
    }
  }
}
.blog-detail {
  .blog-detail-container {
    padding: 0px 150px;
    .blog-detail-intro {
      .mark-divider-right {
        .content-wrapper {
          padding-left: 0px !important;
          .detail-author-section {
            display: flex;
            align-items: center;
            .detail-author-image {
              height: 35px;
              width: 35px;
              img {
                height: 100%;
                width: 100%;
              }
            }
            .detail-author-name {
              margin-left: 10px;
              margin-right: 20px;
            }
          }
        }
      }
    }
    .blog-detail-body {
      p {
        font-size: 16px !important;
      }
      img {
        width: 100%;
        height: auto;
        margin: 50px 0px;
      }
    }
    .blog-share-wrapper {
      margin-bottom: 50px;
      display: flex;
      align-items: center;
      h3 {
        font-size: 20px;
        font-weight: 500;
        margin-right: 20px;
      }
      a {
        height: 35px;
        width: 35px;
        text-decoration: none;
        border-radius: 50%;
        border: 1px solid $darkText;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        margin: 0px 8px;
        color: $darkText;
        transition: all 0.3s ease;
        &:hover {
          background-color: $primaryColor;
          border-color: $primaryColor;
          color: $white;
        }
      }
    }
  }
}
@include respond-to("laptop") {
  .blogs-page {
    .blogs-header {
      height: 29.28vw !important;
    }
    .blogs-list-wrapper {
      padding: 3.66vw 5.12vw !important;
      .blogs-list {
        .blog {
          height: 17.2vw !important;
          margin-bottom: 2.19vw !important;
          .blog-image {
            height: 17.2vw !important;
            width: 17.2vw !important;
          }
          .blog-body {
            padding: 1.46vw !important;
            .blog-title {
              margin-bottom: 0.73vw !important;
            }
            .blog-bottom {
              .author-section {
                .author-image {
                  height: 2.56vw !important;
                  width: 2.56vw !important;
                  margin-right: 0.73vw !important;
                }
              }
            }
          }
        }
      }
      .popular-blogs-tags {
        .text.semiBold {
          margin-bottom: 0.73vw !important;
          margin-left: 4.02vw !important;
        }
        .tags-wrapper {
          padding: 0 3.66vw !important;
          .blog-tag {
            height: 2.19vw !important;
            padding: 0 1.09vw !important;
            border-radius: 1.09vw !important;
            margin: 0.366vw !important;
          }
        }
      }
    }
  }
  .blog-detail {
    .blog-detail-container {
      padding: 0 10.98vw !important;
      .blog-detail-intro {
        .mark-divider-right {
          .content-wrapper {
            .detail-author-section {
              .detail-author-image {
                height: 2.56vw !important;
                width: 2.56vw !important;
              }
              .detail-author-name {
                margin-left: 0.73vw !important;
                margin-right: 1.46vw !important;
              }
            }
          }
        }
      }
      .blog-detail-body {
        p {
          font-size: 1.17vw !important;
        }
        img {
          margin: 3.66vw 0 !important;
        }
      }
      .blog-share-wrapper {
        margin-bottom: 3.66vw !important;
        h3 {
          font-size: 1.46vw !important;
          margin-right: 1.46vw !important;
        }
        a {
          height: 2.56vw !important;
          width: 2.56vw !important;
          font-size: 1.17vw !important;
          margin: 0 0.58vw !important;
        }
      }
    }
  }
}
@include respond-to("tablet") {
  .blogs-page {
    .blogs-header {
      height: 300px;
    }
    .blogs-list-wrapper {
      padding: 50px;
      display: flex;
      flex-direction: column-reverse;
      .blogs-list {
        width: 100%;
        margin-top: 20px;
      }
      .popular-blogs-tags {
        width: 100%;
        .text.semiBold {
          margin-bottom: 10px;
          margin-left: 5px;
        }
        .tags-wrapper {
          padding: 0px;
        }
      }
    }
  }
  .blog-detail {
    .blog-detail-container {
      padding: 50px;
      padding-top: 0px;
      .blog-detail-intro {
        margin-bottom: 50px;
        img {
          width: 100%;
        }
      }
    }
  }
}
@include respond-to("mobile") {
  .blogs-page {
    .blogs-list-wrapper {
      padding: 30px;
      display: flex;
      flex-direction: column-reverse;
      .blogs-list {
        .blog {
          flex-direction: column;
          height: auto;
          .blog-image {
            width: 100%;
          }
          .blog-description {
            padding-bottom: 10px;
          }
          .blog-bottom {
            padding-top: 10px;
          }
        }
      }
    }
  }
  .blog-detail {
    .blog-detail-container {
      padding: 30px;
      .blog-detail-intro {
        margin-bottom: 30px;
      }
    }
    .blog-share-wrapper {
      justify-content: center;
      position: relative;
      margin-top: 30px;
      h3 {
        display: none;
      }
      &::after {
        content: "Share On";
        position: absolute;
        top: -40px;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}
