//Flex
@mixin flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// Responsive Media Queries
@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }
  // @if $media == tablet {
  //   @media only screen and (max-width: 768px) { @content; }
  // }
  @if $media == tablet {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  }
  @if $media == laptop {
    @media only screen and (min-width: 1025px) {
      @content;
    }
  }

  // @else if $media == largescreen {
  //   @media only screen and (min-width: 1600px) { @content; }
  // }
}
