/**** Colors CSS ****/
@import "./components/colors";

/*** Mixins ****/
@import "./mixins.scss";

.careers-page {
  .careers-intro {
    background-image: url("../images/mask.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    .mark-divider-left {
      height: 100%;
      width: 50%;
      .apply-job-form {
        background-color: $white;
        width: 56%;
        height: 56%;
        z-index: 9;
        padding: 60px 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .mark-block-btn {
          width: 100%;
        }
      }
    }
    &::after {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
      content: "";
      background-image: url("../images/mask-layer.png");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  .job-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    .job-card {
      height: 208px;
      width: 70%;
      background-color: $jobCardBg;
      border: 1px solid $jobCardBorder;
      margin-bottom: 30px;
      padding: 20px 30px;
      .card-header {
        display: flex;
        justify-content: space-between;
        height: 30%;
        .job-title {
          font-size: 24px;
          font-weight: 500;
        }
        .job-location {
          font-size: 14px;
          color: $primaryColor;
          font-weight: 500;
          position: relative;
          &::before {
            content: "\f3c5";
            font-family: "Font Awesome 5 Pro";
            font-size: 14px;
            color: $primaryColor;
            position: absolute;
            left: -20px;
            font-weight: bold;
            top: 2px;
          }
        }
      }
      .card-body {
        height: 45%;
        line-height: 1.5;
      }
      .card-footer {
        border-top: 1px solid $jobCardBorder;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 25%;
        a {
          text-decoration: none;
          color: $black;
          span {
            margin-left: 5px;
          }
          &:hover {
            color: $primaryColor;
          }
        }
      }
    }
  }
}
.job-detail-page {
  .job-title-section {
    width: 100%;
    background-color: $footerBgColor;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    i {
      margin-right: 5px;
    }
    .mark-divider-left {
      .apply-job-form {
        background-color: $white;
        width: 56%;
        height: 56%;
        z-index: 9;
        padding: 60px 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .mark-block-btn {
          width: 100%;
        }
      }
    }
  }
  .job-description {
    padding: 50px 200px;
    line-height: 1.65;
  }
}
@include respond-to("laptop") {
  .careers-page {
    .careers-intro {
      .mark-divider-left {
        .apply-job-form {
          padding: 4.39vw 3.66vw !important;
        }
      }
    }
    .job-lists {
      margin: 3.66vw 0 !important;
      .job-card {
        height: 15.22vw !important;
        margin-bottom: 2.19vw !important;
        padding: 1.46vw 2.19vw !important;
        .card-header {
          .job-title {
            font-size: 1.75vw !important;
          }
          .job-location {
            font-size: 1.02vw !important;
            &::before {
              font-size: 1.02vw !important;
              left: -1.46vw !important;
              top: 0.14vw !important;
            }
          }
        }
        .card-footer {
          a {
            span {
              margin-left: 0.366vw !important;
            }
          }
        }
      }
    }
  }
  .job-detail-page {
    .job-title-section {
      i {
        margin-right: 0.366vw !important;
      }
    }
    .job-description {
      padding: 3.66vw 14.64vw !important;
    }
  }
}
@include respond-to("tablet") {
  .careers-page {
    .careers-intro {
      text-align: center;
      .mark-divider-left {
        padding-bottom: 50px !important;
        width: 100% !important;
      }
    }
    .job-lists {
      padding: 50px;
      margin: 0px;
      .job-card {
        width: 90%;
        height: auto;
        .card-body {
          margin: 10px 0px;
        }
        .card-footer {
          padding-top: 10px;
        }
      }
    }
  }
  .job-detail-page {
    .job-title-section {
      .apply-job-form {
        width: 78% !important;
        padding: 30px !important;
        margin-bottom:50px;
      }
    }
    .job-description {
      padding: 50px;
    }
  }
}
@include respond-to("mobile") {
  .careers-page {
    .apply-job-form {
      width: 78% !important;
      padding: 30px !important;
    }
    .job-location {
      font-size: 10px !important;
      &::before {
        font-size: 10px !important;
        top: 1px !important;
        left: -10px !important;
      }
    }
  }
  .job-detail-page {
    .job-title-section {
     .job-location{
       display:block;
     }
    }
    .job-description {
      padding: 30px;
    }
  }
}
