/**** Colors CSS ****/
@import "./components/colors";

/*** Mixins ****/
@import "./mixins.scss";

.carriers-page {
  .carriers-intro-section {
    background-image: url("../images/carriers_page/carriers-intro-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
    p {
      margin-top: 10px;
      font-weight: 400;
    }
  }
  .carriers-features {
    position: relative;
  }
  .beyond-border {
    margin: 100px 0px;
    background-color: $primaryColor;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    .heading-wrapper {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 76px;
      }
    }
    .imgWrapper {
      width: 60%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 50px;
      img {
        height: auto;
        width: 75%;
        object-fit: contain;
      }
    }
    &::after {
      background-image: url("../images/pattern-bg-2.png");
      background-position: left;
      background-size: contain;
      background-repeat: no-repeat;
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
  }
}
@include respond-to("laptop") {
  .carriers-page {
    .carriers-intro-section {
      padding-left: 3.66vw !important;
      p {
        margin-top: 0.73vw !important;
      }
    }
    .beyond-border {
      margin: 7.32vw 0 !important;
      .heading-wrapper {
        h1 {
          font-size: 5.56vw !important;
        }
      }
      .imgWrapper {
        padding-right: 3.66vw !important;
      }
    }
  }
}
@include respond-to("tablet") {
  .carriers-page {
    br {
      display: none;
    }
    .carriers-intro-section {
      text-align: center;
      padding: 120px;
    }
    .beyond-border {
      margin: 0px;
      padding: 50px;
      .heading-wrapper {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
          font-size: 38px;
        }
      }
      .imgWrapper {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0px;
        img {
          height: auto;
          width: 100%;
          object-fit: contain;
        }
      }
      &::after {
        display: none;
      }
    }
  }
}
@include respond-to("mobile") {
  .carriers-page {
    .carriers-intro-section {
      padding: 80px 50px;
    }
    .beyond-border {
      flex-direction: column;
      .heading-wrapper {
        width: 100%;
        text-align: center;
      }
      .imgWrapper {
        width: 100%;
      }
    }
  }
}
