/**** Colors CSS ****/
@import "./components/colors";

/*** Mixins ****/
@import "./mixins.scss";

.home-page {
  .intro-section {
    background-image: url("../../assets/images/home_page/section1-bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .intro-content {
      padding-left: 60px;
      p {
        margin-bottom: 60px;
      }
      .intro-btns-section {
        display: flex;
        .mark-block-btn {
          margin-right: 10px;
        }
      }
    }
  }
  .instant-rate-section {
    position: relative;
    overflow: hidden;
    .instant-rate-form {
      width: 65%;
      padding-right: 50px;
      .shipment-type {
        display: flex;
        align-items: center;
        span {
          font-size: 14px;
          margin-right: 10px;
          font-weight: 500;
          color: $darkText;
        }
        .shipment-type-selection {
          padding: 15px 30px;
          padding-left: 45px;
          border: 1px solid $borderColor;
          margin-left: 10px;
          border-radius: 3px;
          position: relative;
          color: $darkText;
          user-select: none;
          cursor: pointer;
          background-color: $white;
          transition: all 0.1s ease;
          &::before {
            content: "\f04d";
            height: 75%;
            width: 30px;
            position: absolute;
            display: flex;
            align-items: center;
            left: 5px;
            top: 5px;
            justify-content: center;
            font-family: "Font Awesome 5 Pro";
            font-size: 9px;
            transition: none;
            border-radius: 3px;
          }
          &.active {
            border-color: $primaryColor;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
            transform: scale(1.01);
            &::before {
              background-color: $primaryColor;
              color: $white;
              font-weight: bold;
            }
          }
          &:hover {
            border-color: $primaryColor;
          }
        }
      }
      .mark-shipment-destinations {
        justify-content: space-between;
        .mark-home-formfield {
          width: 48%;
          margin: 30px 0px;
          background: $white;
        }
      }
      .custom-field {
        background-color: $white;
      }
      .mark-block-btn {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
  .valueProp-and-buildFlex {
    position: relative;
    .value-proposition-section {
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .mark-heading-2 {
        margin: 15px 0px;
      }
    }
    .build-flexible-section {
      height: 40%;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
  }
  .how-it-works {
    margin: 0px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .mark-heading-2 {
      margin-bottom: 20px;
    }
    .mark-process-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      padding: 30px 0px;
      .process-section {
        width: 24%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        .mark-process-img {
          height: 120px;
          width: 65%;
          margin: 15px 0px;
          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
        .mark-process-desc {
          p {
            line-height: 1.71;
          }
        }
        &.col-inverse {
          flex-direction: column-reverse;
          padding-top: 0px !important;
          .mark-process-img {
            margin-top: 15px;
          }
        }
      }
      .process-line-bg {
        width: 100%;
        position: absolute;
        z-index: -1;
        img {
          width: 100%;
          object-fit: contain;
        }
      }
    }
    h3 {
      margin-bottom: 0px;
    }
  }
}
@include respond-to("laptop") {
  .home-page {
    .intro-section {
      .intro-content {
        padding-left: 4.39vw !important;
        p {
          margin-bottom: 4.39vw !important;
        }
        .intro-btns-section {
          .mark-block-btn {
            margin-right: 0.73vw !important;
          }
        }
      }
    }
    .instant-rate-section {
      .instant-rate-form {
        padding-right: 3.66vw !important;
        .shipment-type {
          span {
            font-size: 1.02vw !important;
            margin-right: 0.73vw !important;
          }
          .shipment-type-selection {
            padding: 1.09vw 2.19vw !important;
            padding-left: 3.29vw !important;
            margin-left: 0.73vw !important;
            border-radius: 0.21vw !important;
            &::before {
              width: 2.19vw !important;
              left: 0.366vw !important;
              top: 0.366vw !important;
              font-size: 0.65vw !important;
              border-radius: 0.21vw !important;
            }
          }
        }
        .mark-shipment-destinations {
          .mark-home-formfield {
            margin: 2.19vw 0 !important;
          }
        }
        .mark-block-btn {
          margin-top: 0.73vw !important;
        }
      }
    }
    .valueProp-and-buildFlex {
      .value-proposition-section {
        .mark-heading-2 {
          margin: 1.09vw 0 !important;
        }
      }
    }
    .how-it-works {
      margin: 0 9.51vw !important;
      .mark-heading-2 {
        margin-bottom: 1.46vw !important;
      }
      .mark-process-wrapper {
        padding: 2.19vw 0 !important;
        .process-section {
          .mark-process-img {
            height: 8.78vw !important;
            margin: 1.09vw 0 !important;
          }
          &.col-inverse {
            .mark-process-img {
              margin-top: 1.09vw !important;
            }
          }
        }
      }
    }
  }
}
@include respond-to("tablet") {
  .home-page {
    .intro-section {
      padding: 100px 50px;
      .intro-content {
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          text-align: center;
        }
        p {
          margin-bottom: 60px;
          text-align: center;
          background-color: rgba(255, 255, 255, 0.3);
        }
      }
    }
    .instant-rate-section {
      flex-direction: column;
      overflow: visible;
      padding: 50px 0px !important;
      .mark-heading-2 {
        margin: 30px 0px !important;
      }
      .instant-rate-form {
        padding-right: 0px;
      }
    }
    .valueProp-and-buildFlex {
      padding: 50px;
      .value-proposition-section {
        height: auto;
        .mark-heading-2 {
          margin: 15px 0px;
        }
      }
      .build-flexible-section {
        height: auto;
        padding: 50px 0;
        br {
          display: none;
        }
      }
    }
    .how-it-works {
      margin: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 50px !important;
      .mark-heading-2 {
        margin-bottom: 20px;
      }
      .mark-process-wrapper {
        flex-direction: column;
        width: 100%;
        padding: 30px;
        .process-section {
          width: 80%;
          display: flex;
          flex-direction: column;
          margin: 40px 0px;
          .mark-process-img {
            margin: 15px 0px;
            height: 150px;
            width: 150px;
            img {
              height: 100%;
              width: 100%;
              object-fit: contain;
            }
          }
          .mark-process-desc {
            h4 {
              font-size: 22px !important;
            }
            p {
              line-height: 1.5;
              font-size: 18px !important;
              br {
                display: none;
              }
            }
          }
          &.col-inverse {
            flex-direction: column;
            padding-top: 0px !important;
            .mark-process-img {
              margin-top: 15px;
            }
          }
        }
        .process-line-bg {
          display: none;
        }
      }
      h3 {
        margin-bottom: 0px;
      }
    }
  }
}
@include respond-to("mobile") {
  .home-page {
    br {
      display: none !important;
    }
    .intro-section {
      height: calc(100vh - 120px) !important;
      padding: 40px !important;
      .intro-content {
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        height: 100%;
        p {
          margin-bottom: 30px;
          margin-top: 10px;
        }
        .intro-btns-section {
          flex-direction: column;
          width: 100%;
          a {
            margin: 5px 0px !important;
          }
        }
      }
    }
    .instant-rate-section {
      padding: 30px !important;
      .instant-rate-form {
        width: 100%;
        .shipment-type {
          display: flex;
          flex-direction: column;
          span {
            font-size: 14px;
            margin-right: 10px;
            font-weight: 500;
            color: $darkText;
          }
          .shipment-type-selection {
            width: calc(100% - 80px);
            margin: 10px 0;
          }
        }
        .mark-shipment-destinations {
          justify-content: space-between;
          .mark-home-formfield {
            width: 100%;
            background: $white;
            margin: 10px 0px;
          }
        }
        .custom-field {
          background-color: $white;
          margin: 10px 0px;
        }
      }
    }
    .valueProp-and-buildFlex {
      padding: 30px;
      .value-proposition-section {
        height: auto;
        .mark-heading-2 {
          margin: 15px 0px;
        }
      }
      .build-flexible-section {
        height: auto;
        padding: 50px 0;
        br {
          display: none;
        }
      }
    }
    .how-it-works {
      padding: 50px 30px !important;
      .mark-process-wrapper {
        .process-section {
          margin: 0px;
          margin-bottom: 40px;
          .mark-process-img {
            margin: 15px 0px;
            height: 100px;
            width: 100px;
          }
          .mark-process-desc {
            h4 {
              font-size: 16px !important;
            }
            p {
              line-height: 1.5;
              font-size: 14px !important;
              br {
                display: none;
              }
            }
          }
          &.col-inverse {
            flex-direction: column;
            padding-top: 0px !important;
            .mark-process-img {
              margin-top: 15px;
            }
          }
        }
      }
    }
  }
}
