/**** Colors CSS ****/
@import "./components/colors";

/*** Mixins ****/
@import "./mixins.scss";

/**** Font Family ****/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Gothic-Bold";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gothic/ITCAvantGardeStdBold.woff");
}
@font-face {
  font-family: "Gothic-Medium";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gothic/ITCAvantGardeStdMd.woff");
}
@font-face {
  font-family: "Gothic-Regular";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gothic/ITCAvantGardeStdXLt.woff");
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  margin: 0px;
  font-family: "Roboto", sans-serif !important;
  display: flex;
  flex-direction: column;
  font-weight: 400 !important;
  color: $normalText !important;
}
button {
  font-family: "Roboto" !important;
}

.contentSection {
  height: 100%;
  margin-top: 50px;
  background-color: $bodyBackground;
  .map-image {
    flex: 1;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &.withSidePadding {
    padding: 0px 15px;
  }
  &#shipments-content {
    position: relative;
  }
}

.marketing-page {
  background-color: $white;
  margin-top: 50px;
  height: auto !important;
  overflow-x: hidden !important;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  &:focus {
    outline: none !important;
  }
  &:disabled {
    color: $lightText;
    &.block-btn,
    &.mark-block-btn {
      background-color: $lightText !important;
      color: $white !important;
      border-color: $lightText;
      cursor: default !important;
      &:hover {
        &:after {
          display: none;
        }
      }
    }
  }
}

a {
  &.disabled {
    &.block-btn,
    &.mark-block-btn {
      background-color: $lightText !important;
      color: $white !important;
      border-color: $lightText;
      cursor: default !important;
      &:hover {
        &:after {
          display: none;
        }
      }
    }
  }
}

.no-padding-right {
  padding-right: 0px !important;
}

.d-none {
  display: none !important;
}

.primaryColor {
  color: $primaryColor !important;
}

.gray {
  color: $gray !important;
}

.lightGrayBg {
  background-color: $lightGray !important;
  color: $normalText !important;
}

.text {
  font-size: 14px !important;
}

.small-text {
  font-size: 12px !important;
}

.extra-small-text {
  font-size: 10px !important;
}

.heading-text {
  font-size: 16px !important;
}

.bold-text {
  font-weight: 700 !important;
}

.semiBold {
  font-weight: 500;
}

.nopadding {
  padding: 0px !important;
}

.nomargin {
  margin: 0px !important;
}

.border {
  border: 1px solid $borderColor !important;
}
.border-top {
  border-top: 1px solid $borderColor !important;
}
.border-left {
  border-left: 1px solid $borderColor !important;
}
.border-right {
  border-right: 1px solid $borderColor !important;
}
.border-bottom {
  border-right: 1px solid $borderColor !important;
}

.white {
  color: $white !important;
}
.black {
  color: $black !important;
}

.row {
  margin: 0px !important;
  padding: 0px !important;
}
.col {
  margin: 0px !important;
  padding: 0px !important;
}

.block-btn {
  color: $buttonText;
  cursor: pointer;
  display: flex;
  align-items: center;
  // border-radius: 5px;
  user-select: none;
  &.small {
    padding: 0px 10px;
    height: 25px;
    font-size: 10px;
  }
  &.medium {
    height: 35px;
    padding: 0px 30px;
  }
  &.withIcon {
    height: 25px !important;
    width: 25px !important;
    padding: 0px !important;
    justify-content: center !important;
    font-size: 12px !important;
  }
  &.raised {
    background-color: $primaryColor;
    color: $white;
    &.ripple {
      background-position: center;
      transition: background 0.5s;
    }
    &.ripple:hover {
      background: $primaryColor
        radial-gradient(circle, transparent 1%, $primaryColor 1%) center/15000%;
    }
    &.ripple:active {
      background-color: rgba(0, 0, 0, 0.3);
      background-size: 100%;
      transition: background 0s;
    }
    &:hover {
      background-color: $raisedHover;
    }
  }
  &.trans {
    background-color: transparent;
    color: $buttonText;
    &.ripple {
      background-position: center;
    }
    &.ripple:hover {
      background: rgba(0, 0, 0, 0.05)
        radial-gradient(circle, transparent 1%, rgba(0, 0, 0, 0.05) 1%)
        center/15000%;
    }
    &.ripple:active {
      background-color: rgba(0, 0, 0, 0.1);
      background-size: 100%;
      transition: background 0s;
    }
    &:hover {
      background-color: $transHover;
    }
  }
  &.raisedHover {
    &:hover {
      background-color: $raisedHover;
    }
  }
  &.active {
    background-color: $primaryColor !important;
    color: $white !important;
    border-color: $primaryColor !important;
  }
}

.showPassword.active {
  font-weight: bold;
  color: $black !important;
}

.dropdown {
  position: relative;
  .dropdown-selected {
    cursor: pointer;
  }
  .dropdown-menu-wrapper {
    min-width: 150px;
    background-color: $white;
    position: absolute;
    bottom: -100px;
    right: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    min-height: 0px;
    .dropdown-menu {
      padding: 15px 20px;
      border-bottom: 1px solid $lightGray;
      display: flex;
      align-items: center;
      font-size: 14px;
      letter-spacing: 0px;
      color: $darkText;
      img {
        margin-right: 10px;
        height: 20px;
        width: 20px;
        object-fit: contain;
      }
      &:hover {
        background-color: $dropdownMenuHvr;
        cursor: pointer;
      }
      &.selected {
        background-color: $dropdownMenuHvr;
      }
      &:last-child {
        border-bottom: none;
      }
    }
    &.show {
      min-height: 50px;
      visibility: visible;
      opacity: 1;
    }
  }
}

.no-border {
  border: none !important;
}

.text-margin-left {
  margin-left: 10px;
}

.extra-lightText {
  color: $extraLightText;
}

.lightText {
  color: $lightText;
}

.darkText {
  color: $darkText;
}

.link-text {
  color: $darkText;
  text-decoration: underline;
}

/**** Date Range Picker Styling ****/
.daterangepicker {
  td.active {
    background-color: $primaryColor !important;
  }
  .off.ends.active {
    background-color: $white !important;
    color: #999;
  }
  .applyBtn {
    background-color: $primaryColor !important;
    border: none !important;
    color: $white;
  }
}

/**** Time Picker ****/
.mdtimepicker {
  display: flex;
  justify-content: center;
  align-items: center;
  .mdtp__wrapper {
    left: unset;
    bottom: unset;
    transform: none;
  }
  .mdtp__time_holder {
    background-color: $primaryColor;
  }
  .mdtp__digit.active:before {
    background-color: $primaryColor;
  }
  .mdtp__digit.active span,
  .mdtp__clock .mdtp__digit:not(.digit--disabled) span:hover {
    background-color: $primaryColor !important;
  }
  .mdtp__clock_dot {
    background-color: $primaryColor !important;
  }
  .mdtp__clock .mdtp__am.active,
  .mdtp__clock .mdtp__pm.active {
    background-color: $primaryColor !important;
  }
  .mdtp__button {
    color: $primaryColor !important;
  }
}

/*** Scrollbar Styling ***/
.simplebar-scrollbar:before {
  background-color: $lightText !important;
}
.simplebar-track.simplebar-vertical {
  width: 10px !important;
}

/*** Material Components Custom CSS ***/
.mdc-text-field {
  width: 100%;
}

/**** Media Query For Laptop,Desktop and Large Screens ****/
@include respond-to("laptop") {
  body {
    height: calc(100vh) !important;
    overflow: hidden;
    &.marketing-page {
      height: auto !important;
      overflow: visible;
      margin-top: 3.66vw !important;
    }
  }
  .contentSection {
    margin-top: 3.66vw !important;
    height: calc(100vh - 3.66vw);
    &.withSidePadding {
      padding: 0px 1vw;
    }
  }
  .text {
    font-size: 1.02vw !important;
  }
  .small-text {
    font-size: 0.87vw !important;
  }
  .extra-small-text {
    font-size: 0.73vw !important;
  }
  .heading-text {
    font-size: 1.17vw !important;
  }
  .block-btn {
    // border-radius:0.366vw;
    &.small {
      height: 1.83vw;
      padding: 0px 0.73vw;
      font-size: 0.73vw;
    }
    &.medium {
      height: 2.56vw !important;
      padding: 0px 2.196vw !important;
    }
    &.withIcon {
      height: 1.83vw !important;
      width: 1.83vw !important;
      font-size: 0.87vw !important;
    }
  }
  .text-margin-left {
    margin-left: 0.73vw !important;
  }
  .dropdown {
    .dropdown-menu-wrapper {
      min-width: 10.98vw !important;
      bottom: -7.32vw !important;
      border-radius: 0.21vw !important;
      .dropdown-menu {
        padding: 1.09vw 1.46vw !important;
        img {
          margin-right: 0.73vw !important;
          height: 1.46vw !important;
          width: 1.46vw !important;
        }
      }
      &.show {
        min-height: 3.66vw !important;
      }
    }
  }
}

@include respond-to("tablet") {
  .contentSection {
    &.withSidePadding {
      padding: 0 !important;
    }
  }
}

/**** Header CSS ****/
@import "./components/header";

/**** Footer CSS ****/
@import "./components/footer";

/**** Common CSS ****/
@import "./components/common";

/**** Material Components CSS ****/
@import "./components/material";

/**** New Shipments Sidebar Wrapper ****/
@import "./components/sidebar";

/**** Sidebar Menu for Mobile and Tablet ****/
@import "./components/tablet-menu";

/**** My Custom CSS Grid ****/
@import "./components/grid";

/**** Custom Loader CSS ****/
@import "./components/loader";

/**** Marketing Page CSS ****/
@import "./components/marketing";
