.careers-page .careers-intro {
  background-image: url("../images/mask.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.careers-page .careers-intro .mark-divider-left {
  height: 100%;
  width: 50%;
}
.careers-page .careers-intro .mark-divider-left .apply-job-form {
  background-color: #fff;
  width: 56%;
  height: 56%;
  z-index: 9;
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.careers-page
  .careers-intro
  .mark-divider-left
  .apply-job-form
  .mark-block-btn {
  width: 100%;
}
.careers-page .careers-intro::after {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  content: "";
  background-image: url("../images/mask-layer.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.careers-page .job-lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.careers-page .job-lists .job-card {
  height: 208px;
  width: 70%;
  background-color: #f6f6f6;
  border: 1px solid #d0d0d0;
  margin-bottom: 30px;
  padding: 20px 30px;
}
.careers-page .job-lists .job-card .card-header {
  display: flex;
  justify-content: space-between;
  height: 30%;
}
.careers-page .job-lists .job-card .card-header .job-title {
  font-size: 24px;
  font-weight: 500;
}
.careers-page .job-lists .job-card .card-header .job-location {
  font-size: 14px;
  color: #e84f14;
  font-weight: 500;
  position: relative;
}
.careers-page .job-lists .job-card .card-header .job-location::before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-size: 14px;
  color: #e84f14;
  position: absolute;
  left: -20px;
  font-weight: bold;
  top: 2px;
}
.careers-page .job-lists .job-card .card-body {
  height: 45%;
  line-height: 1.5;
}
.careers-page .job-lists .job-card .card-footer {
  border-top: 1px solid #d0d0d0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 25%;
}
.careers-page .job-lists .job-card .card-footer a {
  text-decoration: none;
  color: #262626;
}
.careers-page .job-lists .job-card .card-footer a span {
  margin-left: 5px;
}
.careers-page .job-lists .job-card .card-footer a:hover {
  color: #e84f14;
}
.job-detail-page .job-title-section {
  width: 100%;
  background-color: #25282d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.job-detail-page .job-title-section i {
  margin-right: 5px;
}
.job-detail-page .job-title-section .mark-divider-left .apply-job-form {
  background-color: #fff;
  width: 56%;
  height: 56%;
  z-index: 9;
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.job-detail-page
  .job-title-section
  .mark-divider-left
  .apply-job-form
  .mark-block-btn {
  width: 100%;
}
.job-detail-page .job-description {
  padding: 50px 200px;
  line-height: 1.65;
}
@media only screen and (min-width: 1025px) {
  .careers-page .careers-intro .mark-divider-left .apply-job-form {
    padding: 4.39vw 3.66vw !important;
  }
  .careers-page .job-lists {
    margin: 3.66vw 0 !important;
  }
  .careers-page .job-lists .job-card {
    height: 15.22vw !important;
    margin-bottom: 2.19vw !important;
    padding: 1.46vw 2.19vw !important;
  }
  .careers-page .job-lists .job-card .card-header .job-title {
    font-size: 1.75vw !important;
  }
  .careers-page .job-lists .job-card .card-header .job-location {
    font-size: 1.02vw !important;
  }
  .careers-page .job-lists .job-card .card-header .job-location::before {
    font-size: 1.02vw !important;
    left: -1.46vw !important;
    top: 0.14vw !important;
  }
  .careers-page .job-lists .job-card .card-footer a span {
    margin-left: 0.366vw !important;
  }
  .job-detail-page .job-title-section i {
    margin-right: 0.366vw !important;
  }
  .job-detail-page .job-description {
    padding: 3.66vw 14.64vw !important;
  }
}
@media only screen and (max-width: 1024px) {
  .careers-page .careers-intro {
    text-align: center;
  }
  .careers-page .careers-intro .mark-divider-left {
    padding-bottom: 50px !important;
    width: 100% !important;
  }
  .careers-page .job-lists {
    padding: 50px;
    margin: 0px;
  }
  .careers-page .job-lists .job-card {
    width: 90%;
    height: auto;
  }
  .careers-page .job-lists .job-card .card-body {
    margin: 10px 0px;
  }
  .careers-page .job-lists .job-card .card-footer {
    padding-top: 10px;
  }
  .job-detail-page .job-title-section .apply-job-form {
    width: 78% !important;
    padding: 30px !important;
    margin-bottom: 50px;
  }
  .job-detail-page .job-description {
    padding: 50px;
  }
}
@media only screen and (max-width: 480px) {
  .careers-page .apply-job-form {
    width: 78% !important;
    padding: 30px !important;
  }
  .careers-page .job-location {
    font-size: 10px !important;
  }
  .careers-page .job-location::before {
    font-size: 10px !important;
    top: 1px !important;
    left: -10px !important;
  }
  .job-detail-page .job-title-section .job-location {
    display: block;
  }
  .job-detail-page .job-description {
    padding: 30px;
  }
}
