// including variables and mixins
@import "./theme/variables";
@import "./theme/mixins";
@import "./theme/predefine";
@import "./theme/reset";

// Custom Scss
@import "./theme/elements";
@import "./theme/header";
@import "./theme/banner";
@import "./theme/home";
@import "./theme/common";
@import "./theme/product";
@import "./theme/blog";
@import "./theme/contact";
@import "./theme/footer";

.whatsapp-floating-logo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  img {
    height: 70px;
    width: 70px;
  }
}
.navbar-brand {
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  color: $important !important;
  background-color: black;
  padding: 20px;
  span {
    font-weight: normal;
  }
}
.distinctive-img {
  position: fixed;
  bottom: 20px;
  left: 20px;
  img {
    width: 130px;
    opacity: 0.8;
  }
}
@media (max-width: 991px) {
  .navbar-brand {
    font-size: 35px;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
  }
  .navbar-light .navbar-toggler {
    border-color: #fff;
    position: absolute;
    left: 15px;
    top: 15px;
    .icon-bar {
      background: #fff !important;
    }
  }
  .navbar-expand-lg {
    .container {
      justify-content: center;
    }
  }
  footer::after{
    display: none;
  }
  .banner-area::after{
    display: none;
  }
  .distinctive-img {
    display: none;
  }
}
html {
  overflow-x: hidden;
}
footer {
  position: relative;
  margin-top: 100px;
  &::after {
    position: absolute;
    height: 122px;
    width: 111%;
    content: "";
    top: -55px;
    z-index: -1;
    transform: rotate(-3deg);
    right: -27px;
    background: #222222;
  }
}
