// including variables and mixins
@import "./theme/variables";
@import "./theme/mixins";
@import "./theme/predefine";
@import "./theme/reset";

// Custom Scss
@import "./theme/elements";
@import "./theme/header";
@import "./theme/banner";
@import "./theme/home";
@import "./theme/common";
@import "./theme/product";
@import "./theme/blog";
@import "./theme/contact";
@import "./theme/footer";

.whatsapp-floating-logo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  img {
    height: 70px;
    width: 70px;
  }
}
.navbar-brand {
  font-size: 66px;
  color: $important !important;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 1000;
  -webkit-text-stroke: 1px black;
  letter-spacing: -2px;
}
.distinctive-img {
  position: fixed;
  bottom: -10px;
  left: 20px;
  z-index: 99;
  img {
    width: 230px;
    opacity: 0.15;
  }
}
@media (max-width: 991px) {
  .navbar-brand {
    font-size: 44px;
  }
  .navbar-light .navbar-toggler {
    border-color: #fff;
    position: absolute;
    left: 15px;
    top: 15px;
  }
  .navbar-expand-lg {
    .container {
      justify-content: center;
    }
  }
  footer::after {
    display: none;
  }
  .banner-area::after {
    display: none;
  }
  .distinctive-img {
    display: none;
  }
  .header-rectangle {
    display: none;
  }
}
html {
  overflow-x: hidden;
}
footer {
  position: relative;
  margin-top: 100px;
  &::after {
    position: absolute;
    height: 122px;
    width: 111%;
    content: "";
    top: -55px;
    z-index: -1;
    transform: rotate(-1deg);
    right: -27px;
    background: #222222;
  }
}

.header-rectangle {
  background-image: url("../img/grey-camouflage.jpg");
  height: 210px;
  position: relative;
  width: 120%;
  transform: rotate(-2deg);
  z-index: 9;
  top: -60px;
  right: 13px;
}

.owl-item{
  width: 100%;
}