// including variables and mixins
@import "./theme/variables";
@import "./theme/mixins";
@import "./theme/predefine";
@import "./theme/reset";

// Custom Scss
@import "./theme/elements";
@import "./theme/header";
@import "./theme/banner";
@import "./theme/home";
@import "./theme/common";
@import "./theme/product";
@import "./theme/blog";
@import "./theme/contact";
@import "./theme/footer";

.whatsapp-floating-logo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  img {
    height: 70px;
    width: 70px;
  }
}
.navbar-brand {
  img {
    width: 250px;
  }
}
.distinctive-img {
  position: fixed;
  bottom: -10px;
  left: 20px;
  z-index: 99;
  img {
    width: 230px;
    opacity: 0.15;
  }
}
@media (max-width: 991px) {
  .navbar-brand {
    margin-right: 0;
    img {
      width: 200px;
    }
  }
  .navbar-light .navbar-toggler {
    border-color: #fff;
    position: absolute;
    left: 15px;
    top: 15px;
  }
  .navbar-expand-lg {
    .container {
      justify-content: center;
    }
  }
  footer::after {
    display: none;
  }
  .banner-area::after {
    display: none;
  }
  .distinctive-img {
    img {
      width: 100px;
    }
  }
  .header-rectangle {
    display: none;
  }
}
@media (max-width: 480px) {
  .navbar {
    padding: 0 !important;
  }
  .navbar-toggler {
    padding: 4px 8px;
  }
  .navbar-brand {
    margin-left: 20px;
  }
}
html {
  overflow-x: hidden;
}
footer {
  position: relative;
  margin-top: 100px;
  &::after {
    position: absolute;
    height: 122px;
    width: 111%;
    content: "";
    top: -55px;
    z-index: -1;
    transform: rotate(-1deg);
    right: -27px;
    background: #222222;
  }
  @media (max-width: 480px) {
    margin-top: 50px;
  }
}

.header-rectangle {
  background-image: url("../img/grey-camouflage.jpg");
  height: 210px;
  position: relative;
  width: 120%;
  transform: rotate(-2deg);
  z-index: 9;
  top: -60px;
  right: 13px;
}

.owl-item {
  width: 100%;
}
.img-fluid {
  width: 100% !important;
}

@media (max-width: 480px) {
  .user-popup {
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
  }
  .owl-item {
    margin-top: 10px;
  }
}

@media (min-width: 481px) {
  .user-popup {
    height: 90%;
    width: 50%;
    top: 60px;
    left: 25%;
  }
}

.user-popup {
  background-image: url("../img/body-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.user-popup .form-field {
  height: 60px;
  width: 500px;
  background-color: gray;
  color: white;
  text-align: center;
  margin-bottom: 15px;
  font-size: 24px;
  outline: 0;
  border: 0;
}

.user-popup img {
  height: 70px;
  margin-bottom: 20px;
}

.user-popup button {
  background-color: black;
  width: 500px;
  color: white;
  font-size: 24px;
  height: 60px;
  border: 0;
  font-weight: 500;
  cursor: pointer;
}

.user-popup h1 {
  font-size: 50px;
  font-weight: bolder;
}

.user-popup h3 {
  margin: 10px 0;
}

@media (max-width: 999px) {
  .user-popup img {
    height: 60px;
  }

  .user-popup form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
  }

  .user-popup .form-field {
    height: 40px;
    width: 90%;
    font-size: 16px;
    margin-bottom: 0;
  }

  .user-popup button {
    height: 40px;
    width: 90%;
    font-size: 18px;
  }

  .user-popup h1 {
    font-size: 24px;
  }

  .user-popup h3 {
    margin: initial;
    font-size: 18px;
  }

  .close-popup {
    top: 10px;
    right: 10px;
    font-size: 16px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .user-popup h1 {
    text-align: center;
  }

  .user-popup h3 {
    text-align: center;
  }
}
::placeholder {
  color: #ffffff90;
}

.reg-form-post {
  font-size: 18px;
  margin-top: 15px;
  color: gray;
}

.reg-form-post a {
  font-weight: 500;
  color: gray;
}

.close-popup {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 22px;
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 26px;
}

.pmodal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
}

.pmodal-header {
  padding: 2px 16px;
  background-color: #bdbdbd77;
  color: white;
  border-radius: 10px;
}

.pmodal-body {
  padding: 2px 16px;
}

.pmodal-footer {
  padding: 2px 16px;
  background-color: #b5b8b598;
  color: white;
}

.pmodal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 20px;
}

.pclose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.pclose:hover,
.pclose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.black {
  color: #000000 !important;
}
